.todo {
  border-left: 4px solid #6c757d;
}

.in-progress {
  border-left: 4px solid #0d6efd;
}

.done {
  border-left: 4px solid #198754;
}

.status-select {
  width: 140px;
  border: none;
  cursor: pointer;
}
